#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}




.placename{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    position: absolute;
  
}
.map{
  
		width: 100% !important;
		height: 100% !important;
		position:absolute;
		
}